modules = ["nodejs-20", "web", "bun-1.2"]
run = "bun run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bun run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
